In [ ]:
print('Hello World')

# **Data Analytics with Pandas**

## **Introduction**
In this notebook, we will explore basic data analytics using the **Pandas** library in Python. Pandas is a powerful tool for data manipulation and analysis, and it is widely used in the data science community.

---

## **Objectives**
- Load and explore a dataset
- Perform basic data cleaning and transformation
- Conduct descriptive statistics
- Visualize data using Pandas

---


### Explanation:

- **Headings (`#`, `##`, `###`)**: Used to create different levels of headings for sections and subsections.
- **Bold Text (`**text**`)**: Used to highlight important terms or sections.
- **Horizontal Line (`---`)**: Used to visually separate different sections.
- **Code Blocks (` ```python `)**: Used to display Python code with syntax highlighting.
- **Inline Code (` `code` `)**: Used for small pieces of code within a sentence.

This markdown structure will make your Colab notebook well-organized and easy to follow for both you and your students.

In [ ]:
#!pip install pandas

In [2]:
import pandas

In [ ]:
import pandas

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

In [ ]:
import pandas as pd

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

In [ ]:
print(pd.__version__)

# Pandas Series

Create a simple Pandas Series from a list:

In [ ]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

In [ ]:
index = ['a', 'b', 'c', 'd']
myseries = pd.Series(range(4), index=index,name='first series')
print(myseries)

Return the first value of the Series:

In [ ]:
print(myvar[0])

Create your own labels:

In [ ]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

Return the value of "y":

In [ ]:
print(myvar["y"])

Create a simple Pandas Series from a dictionary:

In [ ]:
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

In [ ]:
d = {'a':0,'b':1,'c':2,'d':3}

s = pd.Series(d, name='first series')

print(s)

ACCESS OR ADD ELEMENTS
Request existing values

s['b']

Modify and existing value

In [ ]:
s['b']=3

Add new elements

In [ ]:
s['e']=5

In [ ]:
print(s)

# Pandas DataFrame

Create a DataFrame from two Series:

In [ ]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

**Locate Row**

As you can see from the result above, the DataFrame is like a table with rows and columns.

Pandas use the loc attribute to return one or more specified row(s)

In [ ]:
print(df.loc[0])   # Return row 0:

In [ ]:
print(df.loc[[0, 1]])  # Return row 0 and 1:

Add a list of names to give each row a name:

In [16]:
index=['a', 'b', 'c', 'd']

s1 = pd.Series({'a':0, 'b':1, 'c':2, 'd':3})

s2= pd.Series([-0.9, -1.7, 1.1,-1.0], index=index)

d = {'A':s1, 'B':s2}

df = pd.DataFrame(d)

print(df)

   A    B
a  0 -0.9
b  1 -1.7
c  2  1.1
d  3 -1.0

Use the named index in the loc attribute to return the specified row(s).

In [ ]:
df.loc['b']

Using *loc* with *condition*

In [ ]:
df.loc[df['A']==2] # select rows that have 'A' equal 2

Display columns 'A' in df dataframe

In [ ]:
df['A']

# Assignment 1 – Creating Series and DataFrames in Pandas

**Objective:**

The purpose of this assignment is to help you get comfortable with creating and manipulating Pandas Series and DataFrames. You will practice creating Series and DataFrames from scratch, performing basic operations, and using the loc function for data selection.

**Instructions:**

Set Up Your Google Colab Notebook:

Open Google Colab and create a new notebook.

**Title the notebook**:  LAB 1 - Pandas Series and DataFrames.


**Import Pandas Library:**

Start by importing the Pandas library in your notebook:

In [ ]:
import pandas as pd

**Creating Pandas Series:**

**Task 1**:

Create a Pandas Series from a list of integers representing daily sales for a week (e.g., [100, 150, 200, 130, 90, 180, 160]).

**Task 2**:

Create a Pandas Series with custom index labels (e.g., days of the week).

In [ ]:
sales_series = pd.Series([])

days = []

sales_series = pd.Series(sales_series, index=days)

Creating a Pandas DataFrame:

**Task 4**:

Create a DataFrame from a dictionary. For example, create a DataFrame that includes data on product sales and prices:


**Task 5**:

Add a new column to the DataFrame that calculates the total revenue for each product (multiply Quantity Sold by Price per Unit).


**Task 6**:

Display the first few rows of the DataFrame using head().

In [ ]:
#Task 4
data = {
    'Product': ['Apples', 'Bananas', 'Cherries', 'Dates'],
    'Quantity Sold': [],
    'Price per Unit': []
}
df = pd.DataFrame(data)


#Task 5
df['Total Revenue'] =

#Task 6
head()

Using *loc* for Data Selection:

**Task 7**:

Use the loc function to select rows where the **Total Revenue** is greater than $50. Display the filtered DataFrame.

**Task 8**:

Describe the code below

```python
bananas_data = df.loc[df['Product'] == 'Bananas', ['Product', 'Units Sold']]

```

In [ ]:
#Task 7
high_revenue_df = df.loc[]
print(high_revenue_df)

#Task 8
bananas_data = df.loc[df['Product'] == 'Bananas', ['Product', 'Units Sold']]

**Save and Submit**:

Save your notebook to your Google Drive.

Download the notebook as a .ipynb file.

Submit the .ipynb file to the course platform.